# Udacity Project - Bikesharing Dataset

## Data Wrangling and Data Visualisation

This data set includes information about individual rides made in a bike-sharing system covering the greater Boston area.

In [1]:
# import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

**What is the structure of your dataset?**

Most of the months have 15 columns with a few having only 14. Need to make sure I'm not missing data so will reduce the ones with 15 rows to 14 before I merge them together. When I merge them, I will do it by quarters to help explore the data better. Different months have different amount of entries, but that's normal and I will not manipulate that.

I will look at the datasets statistics, datatypes, missing and duplicated values to see if there is any need for cleaning.


**What is/are the main feature(s) of interest in your dataset?**

To see who, when are where are using the most and least bikes within Boston.


**What features in the dataset do you think will help support your investigation into your feature(s) of interest?**

Trip duration, Start station, End Station, Usertype, Birthyear and Gender

In [42]:
# load in each month's dataset into a pandas dataframe
df_01 = pd.read_csv('202001-bluebikes-tripdata.csv')
df_01.shape
df_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,478,2020-01-01 00:04:05.8090,2020-01-01 00:12:04.2370,366,Broadway T Stop,42.342781,-71.057473,93,JFK/UMass T Stop,42.320340,-71.051180,6005,Customer,1969,0
1,363,2020-01-01 00:04:45.6990,2020-01-01 00:10:49.0400,219,Boston East - 126 Border St,42.373312,-71.041020,212,Maverick Square - Lewis Mall,42.368844,-71.039778,3168,Subscriber,2000,1
2,284,2020-01-01 00:06:07.0630,2020-01-01 00:10:51.9240,219,Boston East - 126 Border St,42.373312,-71.041020,212,Maverick Square - Lewis Mall,42.368844,-71.039778,3985,Subscriber,2001,1
3,193,2020-01-01 00:06:13.8550,2020-01-01 00:09:27.8320,396,Main St at Beacon St,42.409330,-71.063819,387,Norman St at Kelvin St,42.409859,-71.066319,2692,Subscriber,1978,1
4,428,2020-01-01 00:07:25.2950,2020-01-01 00:14:33.7800,60,Charles Circle - Charles St at Cambridge St,42.360793,-71.071190,49,Stuart St at Charles St,42.351146,-71.066289,4978,Subscriber,1987,1

In [25]:
df_02 = pd.read_csv('202002-bluebikes-tripdata.csv')
df_02.shape

(133235, 15)

In [32]:
df_03 = pd.read_csv('202003-bluebikes-tripdata.csv')
df_03.shape

(107350, 15)

In [33]:
df_04 = pd.read_csv('202004-bluebikes-tripdata.csv')
df_04.shape

(46793, 15)

In [34]:
df_05 = pd.read_csv('202005-bluebikes-tripdata.csv')
df_05.shape

(124879, 14)

In [35]:
df_06 = pd.read_csv('202006-bluebikes-tripdata.csv')
df_06.shape

(191843, 14)

In [36]:
df_07 = pd.read_csv('202007-bluebikes-tripdata.csv')
df_07.shape

(259726, 14)

In [37]:
df_08 = pd.read_csv('202008-bluebikes-tripdata.csv')
df_08.shape

(289033, 14)

In [38]:
df_09 = pd.read_csv('202009-bluebikes-tripdata.csv')
df_09.shape

(307853, 14)

In [39]:
df_10 = pd.read_csv('202010-bluebikes-tripdata.csv')
df_10.shape

(248424, 14)

In [40]:
df_11 = pd.read_csv('202011-bluebikes-tripdata.csv')
df_11.shape

(161712, 14)

In [41]:
df_12 = pd.read_csv('202012-bluebikes-tripdata.csv')
df_12.shape

(74002, 14)